aiofiles==24.1.0
aiohttp==3.12.15
aiosignal==1.4.0
arabic-reshaper==3.0.0
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
colorama==0.4.6
fastapi==0.128.8
Flask==3.1.3
httpx==0.28.1
idna==3.11
joblib==1.4.2
scikit-learn==1.6.1
numpy==2.0.2
pandas==2.3.3
pillow==11.3.0
pydantic==2.11.10
python-bidi==0.6.9
python-dotenv==1.2.1
requests==2.32.5
tqdm==4.67.3
uvicorn==0.39.0
Werkzeug==3.1.7